body { font-family: Arial, sans-serif; margin:20px; }
header nav a { margin-right: 10px; }
table { border-collapse: collapse; width: 100%; margin-top: 10px; }
table, th, td { border: 1px solid #ddd; }
th, td { padding: 8px; text-align: left; }
.center { width: 300px; margin: 100px auto; }
